.tournament-page h1 {
    color: white;
    font-family: Baron Neue;
    font-size: 1.2vw;
    font-weight: 100;
    margin-bottom: 1vh;
}

.tournament-game-image {
    position: absolute;
    bottom: 0;
}

.tournament-game-title {
    position: absolute;
    top: 0;
}