.tournament-form {
    display: flex;
    flex-direction: column;
    width: 69vw;
    height: 80vh;
    margin-left: 32vw;
    align-items: flex-start;
}

.tournament-form label {
    color: white;
    font-family: Addington;
    font-size: 2vw;
}

.tournament-form div {
    display: flex;
    flex-direction: column;
    left: 0;
    margin-left: 0;
}