input[type="file"] {
    position: absolute;
    left: -9999px;
}

.custom-file-upload {
    font-family: Addington Light;
    font-size: 1.3vw;
    color: white;
    padding: 1.5vh 1vw;
    background-color: #2A10B3;
    cursor: pointer;
}

.slider {
    position: absolute;
    top: -15vh;
    z-index: 99;
}

.confirmation {
    font-family: Addington Light;
    font-size: 1.5vw !important;
    font-weight: 100;
    margin-top: 2vh;
}   