input[type="file"] {
    position: absolute;
    left: -9999px;
}

.custom-file-upload {
    position: absolute;
    font-family: Addington Light;
    font-size: 1.3vw;
    color: white;
    padding: 1.5vh 1vw;
    background-color: #2A10B3;
    box-shadow: -10px 10px 0px #EA1626;
    cursor: pointer;
    border: solid 5px white;
}

label.custom-file-upload {
    left: -10vw;
    bottom: -20vh;
}


button.custom-file-upload {
    left: 10vw;
    bottom: -20vh;
}

.slider {
    position: absolute;
    top: -15vh;
    z-index: 99;
}