.navbar {
    /* margin: 2vh 5vw; */
    margin: 2vh 2vw;
    position: absolute;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 2vw; */
    height: 10vh;
    box-sizing: border-box;
    border-bottom: 2px solid white; 
    border-top: 2px solid white;
}

.nav-logo {
    position: absolute;
    margin-top: -2vh;
    left: 43vw;
}

.links {
    width: 20vw;
    display: flex;
    /* justify-content: space-between; */
    overflow: hidden;
    height: 3vh;
}

.navbar a {
    font-family: Furore;
    margin: 0vh 1vw;
    font-size: 1vw;
    letter-spacing: 3px;
    display: inline-block;
    position: relative;
}

.navbar a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0vh;
    transition: 0.3s ease-out;
}

.navbar a:hover::after {
    width: 100%;
}